:root{
    --cor-padrão:  #4682b4;
    --border: 1px solid #000000;
    --sombra: 0 0 30px gray;
}

nav{
    background-color: var(--cor-padrão);
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

main{
    max-width: 840px;
}

h1 {
    color: var(--cor-padrão);
}

main img{
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--sombra);
}

p{
    padding: 0;
}

aside {
    float: left;
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 16px;
    background-color: #f0f4f8;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--sombra);
    align-items: center;
}

footer {
    clear: both;
  margin-top: 15px;
  border-top: var(--border);
  text-align: center;
}